.cart {
    border: 1px solid #444; /* Darker border color */
    /* padding: 20px; */
    margin-top: 20px;
    background-color: #222; /* Dark background color */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  }
  
  .cart h2 {
    margin-top: 0;
    color: #fff;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  